@ewgenius:registry=https://evkhra.pkgs.visualstudio.com/_packaging/ewgenius/npm/registry/
//evkhra.pkgs.visualstudio.com/_packaging/ewgenius/npm/registry/:_authToken=${NPM_TOKEN}
//evkhra.pkgs.visualstudio.com/_packaging/ewgenius/npm/:_authToken=${NPM_TOKEN}